.timer{
  width: 500px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid grey;
}
.timer_inner{
  margin: 0 auto;
  text-align: center;
}
.watch{
  margin: 20px;
  font-size: 40px;
}

.timer_inner span+span{
  margin-left: 15px;
}