*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.inner{
  border: 1px solid grey;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.inner{
  align-items: center;
}
.inner label{
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.cardImg-inner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cardImg-inner img{
  width: 85px;
  
}
.inner img{
  max-width: 100px
}