*{
  box-sizing: border-box;
}
.App{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  padding: 15px;
}

.regContainer{
  width: 30%;
}

.usersContainer{
  width: 70%;
  height: calc(100vh - 30px);
  border: 1px solid black;
  overflow: auto;
  padding: 15px;
  margin-right: 15px;
}

.usersContainer input{
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
}

.userCards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  border: 1px solid grey;
  margin: 10px;
}

.registratoin__wrap{
  width: 100%;
  padding: 15px;
  /* border: 1px solid black; */
  text-align: center;
}

/* .registratoin__wrap form{
  display: flex;
  flex-direction: column;
} */
input{
  display: block;
}

.newPlayer{
  text-align: center;
  width: 100%;
  border: 1px solid black;
  padding: 15px;
}